body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-perfil{
    display: flex;
    justify-content: center;
    gap: 2px;
}

.subtitulo{
    color: white;
    display: flex;
    justify-content: center;
}

.perfil{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.perfil img{
    width: 70px;
    border: 2px solid transparent;
    border-radius: 5px;
    
    transform: 0.35s cubic-bezier(0.22, 1, 0.36, 1);
    border-color: 0.2s ease;
    box-shadow: 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.perfil:hover img{
    transform: scale(1.12);
    border-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    
}

.add-perfil{
    background: none;
    border: none;
    cursor: pointer;
}

.add-perfil img{
    width: 75px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease;
}

.add-perfil:hover img{
    transform: scale(1.10);
    border: 2px;
    border-color: white;
}

.add-perfil p{
    color: rgb(0, 0, 0)
}
.nome-perfil{
    color: white;
}

