body{
    background-color: rgb(30, 30, 30);
}

header{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
.container-perfil{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.subtitulo{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.perfil{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



.perfil:hover img{
    transform: scale(1.05);
    border-color: rgb(255, 255, 255);
}

.perfil img{
    transition: 0.3s;
}

.perfil img{
border: 20px solid rgb(30, 30, 30);
border-radius: 100px;

}

.perfil p{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 500%;
}

.perfil.add img{
    border: 2px dashed white;
    width: 1000px;
    height: 1000px;
}






}
